.homeContainer {
   padding-top: 1rem;
}

@media screen and (min-width: 768px) {
   .homeContainer {
      padding-top: 3.75rem;
   }
}

@media screen and (min-width: 1280px) {
   .homeContainer {
      padding-top: 6.25rem;
   }
}